<h1>{{title}}</h1>
<div>
  <input type="text" [(ngModel)]="newTodo">
  <button (click)="addTodo()">Add</button>
</div>
<div class="container">
  <h2>Todos List:</h2>
  <br>
  <div>
    <table>
      <thead>
        <th>ID</th>
        <th>Todo Name</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let todo of todoList;let i= index">
          <app-todo [todo]="todo" [i]="i" (TodoDelete)="deleteTodo($event)"></app-todo>


        </ng-container>
      </tbody>
    </table>
  </div>

</div>
